.main-content {
  @apply flex;

  .sidebar {
    @apply flex flex-col p-4 items-center;
    flex-grow: 1;
  }

  main {
    @apply py-4 px-8 bg-gray-200 w-full min-h-screen;
    flex-grow: 6;

    .data {
      flex: 1;
    }

    .chart {
      width: 24%;
      flex: 1;
    }
  }
}

:host::ng-deep pagination-controls {
  @apply flex items-center justify-center fixed right-4 bottom-4 bg-white px-4 py-2 shadow-lg;

  > pagination-template > ul {
    margin: 0;
  }
}
