<custom-header></custom-header>

<div class="main-content">
  <div class="sidebar">
    <!-- trust options  -->
    <div class="trust-options">
      <span>Choose your Trust</span>
      <div class="flex justify-center">
        <div class="mb-3 xl:w-96">
          <select
            class="
              form-select
              appearance-none
              block
              w-full
              px-3
              py-1.5
              text-base
              font-normal
              text-gray-700
              bg-white bg-clip-padding bg-no-repeat
              border border-solid border-gray-300
              rounded
              transition
              ease-in-out
              m-0
              focus:text-gray-700
              focus:bg-white
              focus:border-blue-600
              focus:outline-none
            "
            aria-label="Default select example"
            (change)="filteringData($event)"
          >
            <option selected>Select the trust</option>
            <option value="Belfast">Belfast</option>
            <option value="Northern">Northern</option>
            <option value="South_Eastern">South Eastern</option>
            <option value="Southern">Southern</option>
            <option value="Western">Western</option>
          </select>
        </div>
      </div>
    </div>

    <!-- chart  -->
    <div class="flex flex-col w-full">
      <div class="flex-item">
        <div class="block my-2">
          <span>Under 4 hours by trust</span>
          <canvas
            baseChart
            [data]="lineChartData"
            [options]="lineChartOptions"
            [type]="lineChartType"
            (chartHover)="chartHovered($event)"
            (chartClick)="chartClicked($event)"
          ></canvas>
        </div>

        <div class="chart block mt-4">
          <span>Waiting time distribution ratio </span>
          <canvas
            baseChart
            [data]="pieChartData"
            [type]="pieChartType"
            [options]="pieChartOptions"
          >
          </canvas>
        </div>
      </div>
    </div>
  </div>
  <main class="content">
    <div class="data flex flex-col">
      <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
        <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
          <div
            class="
              shadow
              overflow-hidden
              border-b border-gray-200
              sm:rounded-lg
            "
          >
            <table class="min-w-full divide-y divide-gray-200">
              <thead class="bg-gray-50">
                <tr>
                  <th
                    scope="col"
                    width="10%"
                    class="
                      px-6
                      py-3
                      text-left text-xs
                      font-medium
                      text-gray-500
                      uppercase
                      tracking-wider
                    "
                  >
                    Month
                  </th>
                  <th
                    scope="col"
                    width="10%"
                    class="
                      px-6
                      py-3
                      text-left text-xs
                      font-medium
                      text-gray-500
                      uppercase
                      tracking-wider
                    "
                  >
                    Year
                  </th>
                  <th
                    scope="col"
                    width="15%"
                    class="
                      px-6
                      py-3
                      text-left text-xs
                      font-medium
                      text-gray-500
                      uppercase
                      tracking-wider
                    "
                  >
                    Trust
                  </th>
                  <th
                    scope="col"
                    width="15%"
                    class="
                      px-6
                      py-3
                      text-left text-xs
                      font-medium
                      text-gray-500
                      uppercase
                      tracking-wider
                    "
                  >
                    Dept
                  </th>

                  <th
                    scope="col"
                    width="10%"
                    class="
                      px-6
                      py-3
                      text-left text-xs
                      font-medium
                      text-gray-500
                      uppercase
                      tracking-wider
                    "
                  >
                    Type
                  </th>

                  <th
                    scope="col"
                    width="10%"
                    class="
                      px-6
                      py-3
                      text-left text-xs
                      font-medium
                      text-gray-500
                      uppercase
                      tracking-wider
                    "
                  >
                    Under 4 hours
                  </th>

                  <th
                    scope="col"
                    width="10%"
                    class="
                      px-6
                      py-3
                      text-left text-xs
                      font-medium
                      text-gray-500
                      uppercase
                      tracking-wider
                    "
                  >
                    Between 4 - 12 hours
                  </th>

                  <th
                    scope="col"
                    width="10%"
                    class="
                      px-6
                      py-3
                      text-left text-xs
                      font-medium
                      text-gray-500
                      uppercase
                      tracking-wider
                    "
                  >
                    Over 12 hours
                  </th>

                  <th
                    scope="col"
                    width="10%"
                    class="
                      px-6
                      py-3
                      text-left text-xs
                      font-medium
                      text-gray-500
                      uppercase
                      tracking-wider
                    "
                  >
                    Total
                  </th>

                  <th
                    scope="col"
                    width="10%"
                    class="
                      px-6
                      py-3
                      text-left text-xs
                      font-medium
                      text-gray-500
                      uppercase
                      tracking-wider
                    "
                  >
                    Percent Under 4 hours
                  </th>
                </tr>
              </thead>
              <tbody class="bg-white divide-y divide-gray-200">
                <tr
                  *ngFor="
                    let item of data
                      | paginate
                        : {
                            itemsPerPage: 15,
                            totalItems: totalItem,
                            currentPage: this.currentPage
                          }
                  "
                >
                  <td class="px-6 py-4 whitespace-nowrap">
                    <div class="flex items-center">
                      <div class="flex-shrink-0 h-10 w-10">
                        {{ item.month }}
                      </div>
                    </div>
                  </td>
                  <td class="px-6 py-4 whitespace-nowrap">
                    <div class="flex items-center">
                      <div class="flex-shrink-0 h-10 w-10">{{ item.year }}</div>
                    </div>
                  </td>
                  <td class="px-6 py-4 whitespace-nowrap">
                    <div class="flex items-center">
                      <div class="flex-shrink-0 h-10 w-10">
                        {{ item.trust }}
                      </div>
                    </div>
                  </td>
                  <td class="px-6 py-4 whitespace-nowrap">
                    <div class="flex items-center">
                      <div class="flex-shrink-0 h-10 w-10">{{ item.dept }}</div>
                    </div>
                  </td>
                  <td class="px-6 py-4 whitespace-nowrap">
                    <div class="flex items-center">
                      <div class="flex-shrink-0 h-10 w-10">{{ item.type }}</div>
                    </div>
                  </td>
                  <td class="px-6 py-4 whitespace-nowrap">
                    <div class="flex items-center">
                      <div class="flex-shrink-0 h-10 w-10 text-green-500">
                        {{ item.under_4_hours }}
                      </div>
                    </div>
                  </td>
                  <td class="px-6 py-4 whitespace-nowrap text-blue-500">
                    <div class="flex items-center">
                      <div class="flex-shrink-0 h-10 w-10">
                        {{ item.between_4_to_12_hours }}
                      </div>
                    </div>
                  </td>
                  <td class="px-6 py-4 whitespace-nowrap text-red-500">
                    <div class="flex items-center">
                      <div class="flex-shrink-0 h-10 w-10">
                        {{ item.over_12_hours }}
                      </div>
                    </div>
                  </td>
                  <td class="px-6 py-4 whitespace-nowrap">
                    <div class="flex items-center">
                      <div class="flex-shrink-0 h-10 w-10">
                        {{ item.total }}
                      </div>
                    </div>
                  </td>
                  <td class="px-6 py-4 whitespace-nowrap">
                    <div class="flex items-center">
                      <div class="flex-shrink-0 h-10 w-10">
                        {{ item.percent_under_4_hours | percent }}
                      </div>
                    </div>
                  </td>
                </tr>
                <!-- More people... -->
              </tbody>
            </table>

            <pagination-controls
              (pageChange)="changePage($event)"
            ></pagination-controls>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>

<!-- <custom-footer></custom-footer> -->
